.fieldContainer {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 70px 70px 70px;
  gap: 2px;
}

.cellField {
  border: 1px solid rgb(140, 182, 130);
  align-content: center;
  font-size: 30px;
  color: rgb(255, 157, 148);
}
