@import "tailwindcss";

@layer components {
  .button-back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 200px;
    margin-top: 20px;
    font-size: 23px;
    color: rgb(254, 247, 237);
    background-color: rgb(106, 169, 106);
    border-radius: 10px;
  }
  #root {
    display: grid;
    place-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
}
